transformers
accelerate
datasets
qwen-vl-utils
timm
einops
scikit-learn
matplotlib
seaborn
pandas
pillow
tqdm
opencv-python-headless>=4.10.0.84
# optional
bitsandbytes>=0.43.0
decord
hf-transfer>=0.1.7
sentencepiece
